<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <style type="text/css">
      body {
        font-family: Arial, sans-serif;
        font-size: 10pt;
        font-weight:normal;
        color:#1f497d;
      }

      a {
        text-decoration:underline;
        color:#1f497d;
        font-weight:normal;
      }
    </style>
  </head>

  <body>
    <br /><br />
    <img src="sustainability.png" alt="sustainability logo" border="0" />
    <p><b><%= params[:name] %></b> <%= params[:title] %>
    <br />
    <%= params[:phone] %> | <%= params[:mobile] %> |
      <a href="http://tinyurl.com/20loftus">Level 7, 20 Loftus Street Sydney</a> |
      <a href= "http://www.sustainability-consulting.com.au">www.sustainability-consulting.com.au</a>
    <br />
    <span style='color:#00B050'>
      Be green, read from the screen.
    </span>
    <br />

    $250 voucher or $300 to the charity of your choice is offered to express our gratitude for
    <a href="http://www.sustainability-consulting.com.au/candidates/refer-a-friend.html">
    successful referrals.</a>
    <br />

    <span style='font-size:8pt'>
      <span style='color:#888888'>
        Any candidate information is strictly confidential and is supplied subject to our
        <a href="http://sustainability-consulting.com.au/documents/ToB.pdf" alt="Terms of Business">
          <span style='color:#888888'>
            <span style='text-decoration: none'>terms of business</span>
          </span>
        </a>.
This email may contain privileged and confidential information. If you are not the intended recipient, please notify us immediately (by reply email) and delete this email from your system. You should not copy, forward or use it for any purpose nor disclose its contents to any other person.
      </span>
    </span>
    </p>
  </body>
</html>